#home-body {
    background-image: url("./images/rawpixel-539818-unsplash.jpg");
    
    
    background-size: cover;
}
#portfolio-body{
background-image: linear-gradient(to bottom, #f6eaf0, #e4deee, #c6d5eb, #a4cfdd, #8ec6c0);

}

.navbar {
    background-color: rgba(249,242,250, 0.6);
}
.icon {
    width:35px;
    height: 38px

}

.my-pic {
    width: 50%;
    height: 80%;
    margin-right: 20px;
    float: left;
}
#name {
    font-family: 'Parisienne', cursive;
    font-size: 60px;
}

.col-lg-4 {
    padding-right:5px;
    padding-left:5px;
}

.skills {
    display: inline-block;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
}

.skill-icon {
    width: 90px;
    height: 90px;
}

.skills-box {
    padding-right: 0px;
    padding-left: 0px;
}

#card-skills  {
    margin-top: 5%;
}

.about-me, .contact-card, .skills-card {
    margin-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(127,173,176, 0.3);
    border: 1px solid rgba(127,173,176, 0.5);
    border-radius: 10px
}
.project-card {
    background-color: rgba(127,173,176, 0.5); 
    width: 400px;
}

.project-pic:hover {
    
    opacity: 0.7;
    
}

.project-pic {
    width: 400px;
    height: 280px;
}

.card-header {
    background-color: rgba(127,173,176, 0.8);
    margin-top: 5px;

}

.contact {
    font-size: 20px
}

.awesome {
    font-size: 30px
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #11b4b0;
}


a.nav-link{
  color: #11b4b0;
}

a{
    color: teal;
}


a:hover{
    color: pink
}

.app-line {
    border: none;
    height:5px;
    background-color: rgba(249,242,250);
}

.full-stack {
    margin-top: 20px;
}

.app-title {
    
   color: teal;
}